<div class="undernav">

  <div class="card">
    <div class="card-body">
      <%= form_with scope: :profile, url: profile_path, local: true do |form| %>
      <input name="_method" type="hidden" value="patch"/>
      <p>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
      </p>

      <p>
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name%>
      </p>
      <p>
        <%= form.label :location %><br>
        <%= form.text_field :location %>
      </p>
      <p>
        <%= form.label :image_uri %><br>
        <%= form.text_field :image_uri %>
      </p>
      <img src="<%= @profile.image_uri %>" alt="">
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>
</div>
