  <div class="container">
    <div class="card text-center">
      <div class="card-header card-header-primary">
        <h1 class="text-center"><%= User.find(@profile.user_id).uname %>'s Profile</h1>
      </div>
      <div class="card-body">
        <%= form_with scope: :profile, url: profile_path, local: true do |form| %>
        <input name="_method" type="hidden" value="patch"/>

        <div>
        <img src="<%= @profile.image_uri %>" style="width:30%; height:30%;">
        </div>

        <div class="input-group mb-3">
          <%= form.text_field :first_name, class: 'form-control', placeholder: "First Name", 'aria-label': :name, 'aria-describedby': 'basic-addon2' %>
        </div>

        <div class="input-group mb-3">
          <%= form.text_field :last_name, class: 'form-control', placeholder: "Last Name", 'aria-label': :name, 'aria-describedby': 'basic-addon2' %>
        </div>

        <div class="input-group mb-3">
          <%= form.text_field :location, class: 'form-control', placeholder: "Location", 'aria-label': :name, 'aria-describedby': 'basic-addon2' %>
        </div>

        <div class="input-group mb-3">
          <%= form.text_field :image_uri, class: 'form-control', placeholder: "Image URL", 'aria-label': :name, 'aria-describedby': 'basic-addon2' %>
        </div>

        <div>
          <%= form.submit :"Submit", class:"btn btn-secondary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
