<div class="container">
  <div class="card text-center">
    <div class="card-header card-header-primary">
      <h1 class="text-center">Upcoming Events</h1>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        <% @events.each do |event| %>
          <li class="media">
            <a href="<%=event_path(event)%>">
            <img class="mr-3" src="<%= Place.find(event.place_id).image_uri %>" alt="<%= Place.find(event.place_id).name %>"></a>
            <div class="media-body">
              <h5 class="mt-0 mb-1 text-left"><%= link_to event.name, event_path(event) %> @ <%=Place.find(event.place_id).name%> - <%=Place.find(event.place_id).address%></h5>
              <p class="text-left"><%=event.description%></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

