<div class="container">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1 class="text-center">Categories</h1>
    </div>
    <div class="accordion" id="accordionCategories">
      <% @categories.each do |category| %>
        <div class="card">
          <div class="card-header" id='heading<%= category.id %>'>
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target='#collapse<%= category.id %>' aria-expanded="true" aria-controls='#collapse<%= category.id %>'>
                <%= category.name %>
              </button>
            </h5>
          </div>
          <div id='collapse<%= category.id %>' class="collapse" aria-labelledby='heading<%= category.id %>' data-parent="#accordionCategories">
            <div class="card-body">
              <%= category.description %>
              <%= link_to 'Edit', edit_category_path(category.id), { :class=>"btn btn-primary", :role=>"button" }  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>