<h1>Hello! Welcome to the Near Me!</h1>

<p>Click the button to get your coordinates.</p>

<p id="demo"></p>

<div id='map_nearme' style="width:400px;height:400px" data-places="<%= @place.to_json %>"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmaps_api_key %>&callback=initMap" type="text/javascript"></script>

<%= form_tag nearmelists_path, method: :get do %>
  <%=hidden_field_tag :lat, '1', id: 'hidden-lat' %>
  <%=hidden_field_tag :lng, '1', id: 'hidden-lng' %>
  <%=submit_tag 'Near Me', id: 'try-it' %>
<% end%>
