<h1>All Places</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Image</th>
  </tr>

  <% @places.each do |place| %>
    <tr>
    
      <td> <%= link_to place.name, place_path(place) %></td>
      <td><%= place.lat %></td>
      <td><%= place.lng %></td>
      <td><img src="<%= place.image_uri %>" alt="<%= place.image_uri %>"></td>
    </tr>
  <% end %>

</table>