<div class="card">
  <div class="card-body">

<h1>New Place</h1>
<%= form_with scope: :place, url: places_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :lat %><br>
    <%= form.text_field :lat %>
  </p>
  <p>
    <%= form.label :lng %><br>
    <%= form.text_field :lng %>
  </p>
  <p>
    <%= form.label :image_uri %><br>
    <%= form.text_field :image_uri %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

</div>
</div>
