  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3>Add New Place</h3>
        <%= form_with scope: :place, url: places_path, local: true do |form| %>

        <div class="input-group mb-3">
          <%= form.text_field :name, class: 'form-control', placeholder: :name, 'aria-label': :name, 'aria-describedby': 'basic-addon2', required: true %>
          <%= form.select :cat_id, options_from_collection_for_select(@categories, 'id', 'name', '1'), {}, {class: 'form-control', required: true } %>
        </div>

        <div class="input-group mb-3">
          <%= form.select :googlename , {} , { prompt: 'Select After Entering Name' } , { class: 'form-control' } %>
        </div>

        <div class="input-group mb-3">
          <%= form.text_field :address, class: 'form-control', placeholder: "Address", 'aria-label': :name, 'aria-describedby': 'basic-addon2', required: true %>
        </div>
        <div class="input-group mb-3">
          <%= form.text_field :lat, class: 'form-control', placeholder: "Latitude", 'aria-label': :name, 'aria-describedby': 'basic-addon2', required: true %>
          <%= form.text_field :lng, class: 'form-control', placeholder: "Longitude", 'aria-label': :name, 'aria-describedby': 'basic-addon2', required: true %>
        </div>
        <div class="input-group mb-3">
          <%= form.text_field :image_uri, class: 'form-control', placeholder: "Image URL", 'aria-label': :name, 'aria-describedby': 'basic-addon2', required: true %>
        </div>
        <div class="input-group mb-3">
          <%= form.text_area :description, class: 'form-control', placeholder: :description, 'aria-label': :d, 'aria-describedby': 'basic-addon2', required: true %>
        </div>
        <div>
          <%= form.submit :submit, class:"btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
