  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="card bg-dark text-white m-0">
                <img class="card-img">
                <img style="height:50vh;" src="<%= @place.image_uri %>" alt="<%= @place.image_uri %>">
                <div class="card-img-overlay">
                  <h4 class="card-title">
                    <%=@place.name %>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="card bg-dark text-white m-0">
                <div id='map' class="places_map" data-place="<%= @place.to_json %>" style="height:50vh;">
                  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmaps_api_key %>&callback=initMap"
                    type="text/javascript"></script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="card-body">
                <h4 class="card-title">
                  <strong><%=@place.name %></strong> - <%= @category.name %>
                  <br>
                </h4>
                <h6><%=@place.address %></h6>
                <hr>
                <p class="card-text">
                  <%=@place.description %>
                </p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="card-body">
                <h4 class="card-title"><strong>Comments</strong></h4>
                <hr>
                <% @place_comments.select{|p| p.place_id == @place.id}.each do |pc| %>
                <div class="media">
                  <img class="align-self-start mr-3 img-circle img-fluid comment" src="<%= @profiles.find_by(user_id: pc.user_id).image_uri %>" alt="<%= @users.find_by(id:pc.user_id) %>">
                  <div class="media-body">
                    <h5 class="mt-0 lead"><%= pc.title %></h5>
                    <p><%= pc.text %></p>
                  </div>
                </div>
                <% end %>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#commentModal">
                  Add a Comment
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalTitle">Add a Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @place_comment do |form| %>
          <%= hidden_field_tag :place_id, @place.id %>
            <div class="input-group mb-3">
              <%= form.text_field :title, class: 'form-control', placeholder: :title, 'aria-label': :title, 'aria-describedby': 'basic-addon2', required: true %>
            </div>
            <div class="input-group mb-3">
              <%= form.text_area :text, class: 'form-control', placeholder: 'Comment', 'aria-label': :text, 'aria-describedby': 'basic-addon2', required: true %>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit :submit, class:"btn btn-secondary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
