<h1>Show Place</h1>

<p>
<strong>Name:</strong>
<%= @place.name %>
</p>

<p>
<strong>Lat:</strong>
<%= @place.lat %>
</p>

<p>
<strong>Lng:</strong>
<%= @place.lng %>
</p>

<p>
<strong>Image:</strong>
<img src="<%= @place.image_uri %>" alt="<%= @place.image_uri %>">
</p>